$red-background: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #FF5E56;
$red-text-color:#EA0029;
$red-text-hover-color:#F53A31;
$red-text-click-color:#EA0029;

$text-color:#000000;
$red-button-hover-click:#EA0029;

$grey-background: rgba(0, 0, 0, 0.3);

$button-background-disabled:#BEC5CC;

$tags-active-background:linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #FF5E56;
$tags-no-active-background:#EEF0F2;
$tags-hover-background:#DFE3E6;
$tags-click-background:linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #FF5E56;

$border-grey:#DFE3E6;